<%- include("../partials/head.ejs") %>

<body>
    <!-- HEADER -->
    <%- include("../partials/header.ejs") %><!-- HERO -->

    <!-- MAIN -->
    <main class="container">
        <section class="item-section">
            <div class="item-picture">
                <picture>
                    <img src="<%= item[0].img_front %>"
                        alt=<%= item[0].product_name %>
                </picture>
            </div>
            <article class="item-article">
                <h4>
                    <%= item[0].licence_name %>
                </h4>
                <h3>
                    <%= item[0].product_name %>
                </h3>
                <p>
                    <%= item[0].product_description %>
                </p>
                <span class="item-precio">$
                    <%= item[0].product_price %>
                </span>
                <!-- <div class="item-agregar_al_carrito">
                    <input id="cantidad" type="number" value="0">
                    <div>
                        <button id="sumar" >+</button>
                        <button id="restar">-</button>
                    </div>
                    <button class="item-button-agregar_al_carrito">Agregar al
                        Carrito</button>
                </div> -->
                <form class="item-agregar_al_carrito" action="#" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <input id="quantity" class="item_input" type="text"
                        name="quantity" placeholder="0">
                    <div class="item_div_add_substract">
                        <button id="add" class="item_add"
                            type="button">+</button>
                        <button id="subtract" class="item_substract"
                            type="button">-</button>
                    </div>
                    <button class="item-button-agregar_al_carrito"
                        type="submit">Agregar al carrito</button>
                </form>
                <p class="item-metodos_de_pago"><u>Ver métodos de pago</u> - 3
                    CUOTAS SIN INTERÉS</p>

            </article>
        </section>
        <section class="ultimos_lanzamientos">
            <h2>PRODUCTOS RELACIONADOS</h2>
            <ul>
                <li>
                    <article>
                        <a href="/shop/item/4">
                            <picture>
                                <img src="/images/star-wars/trooper-1.webp"
                                    alt="Figura coleccionable de Funko de Stormtrooper">
                                <span class="span_nuevo">Nuevo</span>
                            </picture>

                            <div class="ultimos_lanzamientos_text">
                                <p>STAR WARS</p>
                                <h4>STORMTROOPER LIGHTSABER</h4>
                                <p>$ 1799,99</p>
                                <p class="cuotas_sin_interes">3 CUOTAS SIN
                                    INTERÉS</p>
                            </div>
                        </a>
                        <!-- <a href="javascript:void(0)">
                            <img class="flecha flecha_izquierda"
                                src="/images/icons/Left Vector 1 (Stroke).png">
                        </a> -->
                    </article>
                </li>
                <li>
                    <article>
                        <a href="/shop/item/7">
                            <picture>
                                <img src="/images/pokemon/pidgeotto-1.webp"
                                    alt="Figura coleccionable de Funko de Pidgeotto">
                                <span class="span_nuevo">Nuevo</span>
                            </picture>
                            <div class="ultimos_lanzamientos_text">
                                <p>POKEMON</p>
                                <h4>PIDGEOTTO</h4>
                                <p>$ 1799,99</p>
                                <p class="cuotas_sin_interes">3 CUOTAS SIN
                                    INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li>
                    <article>
                        <a href="/shop/item/12">
                            <picture>
                                <img src="/images/harry-potter/luna-1.webp"
                                    alt="Figura coleccionable de Funko de Luna Lovegood">
                                <span class="span_nuevo">Nuevo</span>
                            </picture>
                            <div class="ultimos_lanzamientos_text">
                                <p>HARRY POTTER</p>
                                <h4>LUNA LOVEGOOD LION MASK</h4>
                                <p>$ 1799,99</p>
                                <p class="cuotas_sin_interes">3 CUOTAS SIN
                                    INTERÉS</p>
                            </div>
                            </div>
                        </a>
                        <!-- <a href="javascript:void(0)">
                            <img class="flecha flecha_derecha"
                                src="/images/icons/Right Vector 1 (Stroke).png">
                        </a> -->
                    </article>
                </li>
            </ul>

        </section>
    </main>

    <!-- FOOTER -->
    <%- include("../partials/footer.ejs") %>
    <script src="/js/item.js"></script>
</body>

</html>