<section class="ultimos_lanzamientos">
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <% funkoData.forEach((funko) => { %>
                <li class="glide__slides">
                    <article>
                        <a
                            href="/shop/item/<%= funko.product_id %>">
                            <picture>
                                <img src="<%= funko.img_front %>"
                                    alt="<%= funko.product_name %>">
                                <span class="span_nuevo">Nuevo</span>
                            </picture>
                            <div class="ultimos_lanzamientos_text">
                                <p>
                                    <%= funko.category %>
                                </p>
                                <h4>
                                    <%= funko.product_name %>
                                </h4>
                                <p>$
                                    <%= funko.product_price %>
                                </p>
                                <p class="cuotas_sin_interes">3 CUOTAS SIN
                                    INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <script>
        new Glide('.glide', {
            type: 'carousel',
            startAt: 0,
            perView: 3,
            gap: 30,
            autoplay: 2000,
            breakpoints: {
                991: {
                    perView: 2
                },
                768: {
                    perView: 1
                }
            }
        }).mount();
    </script>